/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@font-face {
  font-family: "Happy Times";
  src: url("/fonts/happy-times-NG_regular_master_web.woff2") format("woff2"),
    url("/fonts/happy-times-NG_regular_master_web.woff") format("woff");
}

html {
  @apply bg-peach-100;
}

body {
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-weight: 300;
  @apply animate-fade-in-down;
}

h1 {
  font-family: "Happy Times", "Times New Roman", serif;
}
